#
# idxmodify BusyBox Configuration
# Minimal static build with essential utilities
#

# General Settings
CONFIG_BUSYBOX=y
CONFIG_FEATURE_HAVE_RPC=y
CONFIG_FEATURE_INSTALLER=y
CONFIG_FEATURE_SUID=y
CONFIG_FEATURE_SUID_REQUIRE_4750_ID=y
CONFIG_FEATURE_SUID_BLACKLIST_GETTY=y
CONFIG_FEATURE_SUID_BLACKLIST_MOUNT=y
CONFIG_FEATURE_SUID_BLACKLIST_SU=y
CONFIG_FEATURE_SUID_BLACKLIST_SULOGIN=y
CONFIG_FEATURE_SUID_BLACKLIST_VLOCK=y
CONFIG_EXTRA_COMPAT=y
CONFIG_INCLUDE_SUSv2=y
CONFIG_USE_BB_PWD_GRP=y
CONFIG_USE_BB_SHADOW=y
CONFIG_USE_BB_CRYPT=y
CONFIG_SHELL_HUSH=y
CONFIG_HUSH_PROTECT_SHELL_PATH=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_SH_NOFORK=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_SH_MATH_64=y
CONFIG_FEATURE_SH_EMBEDDED_SCRIPTS=y

# Build Options
CONFIG_CROSS_COMPILER_PREFIX=""
CONFIG_EXTRA_CFLAGS=""
CONFIG_EXTRA_LDFLAGS=""
CONFIG_PREFIX="./_install"

# Installation Options
CONFIG_INSTALL_APPLET_SYMLINKS=y
CONFIG_INSTALL_APPLET_HARDLINKS=y
CONFIG_INSTALL_APPLET_SCRIPT_WRAPPERS=y
CONFIG_INSTALL_APPLET_DONT=y
CONFIG_INSTALL_SH_APPLET_SYMLINK=y
CONFIG_INSTALL_SH_APPLET_HARDLINK=y
CONFIG_INSTALL_SH_APPLET_SCRIPT_WRAPPER=y
CONFIG_PREFIX_MMDDYY=""

# BusyBox Applets
CONFIG_SH_IS_HUSH=y
CONFIG_SHELL_IS_HUSH=y
CONFIG_HUSH=y

# Coreutils
CONFIG_BASENAME=y
CONFIG_CAT=y
CONFIG_DATE=y
CONFIG_DIRNAME=y
CONFIG_ECHO=y
CONFIG_FEATURE_ECHO_FLAGS=y
CONFIG_FEATURE_ECHO_N=y
CONFIG_FEATURE_ECHO_S=y
CONFIG_ENV=y
CONFIG_EXPR=y
CONFIG_EXPR_MATH_SUPPORT_64=y
CONFIG_FALSE=y
CONFIG_HEAD=y
CONFIG_ID=y
CONFIG_INSTALL=y
CONFIG_FEATURE_INSTALLER=y
CONFIG_LENNAME=y
CONFIG_LN=y
CONFIG_LOGNAME=y
CONFIG_LS=y
CONFIG_FEATURE_LS_COLORS=y
CONFIG_FEATURE_LS_COLORS_DEFAULT=y
CONFIG_MD5SUM=y
CONFIG_MKDIR=y
CONFIG_MKNOD=y
CONFIG_MKTEMP=y
CONFIG_MV=y
CONFIG_NL=y
CONFIG_NOHUP=y
CONFIG_OD=y
CONFIG_PRINTF=y
CONFIG_PWD=y
CONFIG_REALPATH=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SEQ=y
CONFIG_SHA1SUM=y
CONFIG_SHA256SUM=y
CONFIG_SLEEP=y
CONFIG_STAT=y
CONFIG_STTY=y
CONFIG_SYNC=y
CONFIG_TAIL=y
CONFIG_FEATURE_FANCY_TAIL=y
CONFIG_TEE=y
CONFIG_FEATURE_TEE_USE_BLOCK_IO=y
CONFIG_TRUE=y
CONFIG_TRUNCATE=y
CONFIG_TTY=y
CONFIG_UNAME=y
CONFIG_UNAME_OSNAME=y
CONFIG_UNEXPAND=y
CONFIG_UNIQ=y
CONFIG_UNLINK=y
CONFIG_USLEEP=y
CONFIG_UUDECODE=y
CONFIG_UUENCODE=y
CONFIG_WC=y
CONFIG_FEATURE_WC_LARGE=y
CONFIG_WHOAMI=y
CONFIG_YES=y

# Console Utils
CONFIG_CLEAR=y
CONFIG_RESET=y
CONFIG_RESIZE=y
CONFIG_SETFONT=y
CONFIG_FEATURE_DEFAULT_FONT_DIR=""

# File Utilities
CONFIG_CHGRP=y
CONFIG_CHMOD=y
CONFIG_CHOWN=y
CONFIG_FEATURE_CHOWN_LONG_OPTIONS=y
CONFIG_CHROOT=y
CONFIG_CMP=y
CONFIG_CP=y
CONFIG_FEATURE_CP_LONG_OPTIONS=y
CONFIG_CUT=y
CONFIG_DD=y
CONFIG_FEATURE_DD_SIGNAL_HANDLING=y
CONFIG_FEATURE_DD_IBS_OBS=y
CONFIG_DF=y
CONFIG_FEATURE_DF_FANCY=y
CONFIG_DIRNAME=y
CONFIG_DU=y
CONFIG_FEATURE_DU_DEFAULT_BLOCKSIZE_1K=y
CONFIG_EXPAND=y
CONFIG_FEATURE_EXPAND_LONG_OPTIONS=y
CONFIG_EYR=y
CONFIG_FOLD=y
CONFIG_FTPGETPUT=y
CONFIG_FEATURE_FTPGETPUT_LONG_OPTIONS=y
CONFIG_HEAD=y
CONFIG_FEATURE_FANCY_HEAD=y
CONFIG_INSMOD=y
CONFIG_JOIN=y
CONFIG_FEATURE_JOIN_LONG_OPTIONS=y
CONFIG_KILL=y
CONFIG_FEATURE_KILL_LONG_OPTIONS=y
CONFIG_FEATURE_KILL_REMOVED=y
CONFIG_LINK=y
CONFIG_LN=y
CONFIG_FEATURE_LN_LONG_OPTIONS=y
CONFIG_LOGNAME=y
CONFIG_LS=y
CONFIG_FEATURE_LS_COLORS=y
CONFIG_FEATURE_LS_COLORS_DEFAULT=y
CONFIG_FEATURE_LS_FILETYPES=y
CONFIG_FEATURE_LS_FOLLOWLINKS=y
CONFIG_FEATURE_LS_LONG=y
CONFIG_FEATURE_LS_USERNAME=y
CONFIG_FEATURE_LS_TIMESTAMPS=y
CONFIG_MD5SUM=y
CONFIG_MKDIR=y
CONFIG_FEATURE_MKDIR_LONG_OPTIONS=y
CONFIG_MKFIFO=y
CONFIG_MKNOD=y
CONFIG_MKTEMP=y
CONFIG_MV=y
CONFIG_FEATURE_MV_LONG_OPTIONS=y
CONFIG_OD=y
CONFIG_FEATURE_ODอำนวยความสะดวก=y
CONFIG_REALPATH=y
CONFIG_RM=y
CONFIG_FEATURE_RM_LONG_OPTIONS=y
CONFIG_RMDIR=y
CONFIG_SHRED=y
CONFIG_STAT=y
CONFIG_FEATURE_STAT_FORMAT=y
CONFIG_FEATURE_STAT_GRAPHIC=y
CONFIG_STTY=y
CONFIG_SUM=y
CONFIG_SYNC=y
CONFIG_TAIL=y
CONFIG_FEATURE_FANCY_TAIL=y
CONFIG_TEE=y
CONFIG_FEATURE_TEE_USE_BLOCK_IO=y
CONFIG_TOUCH=y
CONFIG_FEATURE_TOUCH_NODEREF=y
CONFIG_FEATURE_TOUCH_SUSV3=y
CONFIG_TRUNCATE=y
CONFIG_UNLINK=y
CONFIG_USLEEP=y
CONFIG_UUDECODE=y
CONFIG_UUENCODE=y
CONFIG_WC=y
CONFIG_FEATURE_WC_LARGE=y
CONFIG_WHOAMI=y
CONFIG_YES=y

# Findutils
CONFIG_FIND=y
CONFIG_FEATURE_FIND_MAXDEPTH=y
CONFIG_FEATURE_FIND_MINDEPTH=y
CONFIG_FEATURE_FIND_PERM=y
CONFIG_FEATURE_FIND_TYPE=y
CONFIG_FEATURE_FIND_XDEV=y
CONFIG_FEATURE_FIND_MAXDEPTH=y
CONFIG_FEATURE_FIND_NEWER=y
CONFIG_FEATURE_FIND_INUM=y
CONFIG_FEATURE_FIND_SAME=y
CONFIG_FEATURE_FIND_TIME=y
CONFIG_FEATURE_FIND_MTIME=y
CONFIG_FEATURE_FIND_ATIME=y
CONFIG_FEATURE_FIND_CTIME=y
CONFIG_FEATURE_FIND_MMIN=y
CONFIG_FEATURE_FIND_AMIN=y
CONFIG_FEATURE_FIND_CMIN=y
CONFIG_FEATURE_FIND_EXEC=y
CONFIG_FEATURE_FIND_EXEC_PLUS=y
CONFIG_FEATURE_FIND_GROUP=y
CONFIG_FEATURE_FIND_LINKS=y
CONFIG_FEATURE_FIND_RECURSE=y
CONFIG_FEATURE_FIND_DELETE=y
CONFIG_FEATURE_FIND_QUIT=y
CONFIG_FEATURE_FIND_EMPTY=y
CONFIG_FEATURE_FIND_PATH=y
CONFIG_FEATURE_FIND_REGEX=y
CONFIG_FEATURE_FIND_PRINT0=y
CONFIG_FEATURE_FIND_EVERYWHERE=y

# Misc
CONFIG_XARGS=y
CONFIG_FEATURE_XARGS_SUPPORT_PARALLEL=y
CONFIG_FEATURE_XARGS_SUPPORT_QUOTES=y
CONFIG_FEATURE_XARGS_SUPPORT_EQ_BLANK=y
CONFIG_FEATURE_XARGS_SUPPORT_REPL_STR=y
CONFIG_FEATURE_XARGS_SUPPORT_CONFIRMATION=y

# Networking
CONFIG_WGET=y
CONFIG_FEATURE_WGET_STATUS_BAR=y
CONFIG_FEATURE_WGET_TIMEOUT=y
CONFIG_FEATURE_WGET_HTTPS=y
CONFIG_FEATURE_WGET_OPENSSL=y
CONFIG_CURL=y
CONFIG_FEATURE_CURL_FTP=y
CONFIG_FEATURE_CURL_HTTPS=y
CONFIG_FEATURE_CURL_IRC=y
CONFIG_FEATURE_CURL_SFTP=y
CONFIG_FEATURE_CURL_SSH=y

# Package Management
CONFIG_DPKG=y
CONFIG_DPKG_DEB=y
CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY=y

# Process Utilities
CONFIG_FREE=y
CONFIG_KILL=y
CONFIG_KILLALL=y
CONFIG_PGREP=y
CONFIG_PIDOF=y
CONFIG_PKILL=y
CONFIG_PS=y
CONFIG_RENICE=y
CONFIG_TOP=y
CONFIG_FEATURE_TOP_CPU_USAGE_PERCENTAGE=y
CONFIG_FEATURE_TOP_CPU_GLOBAL_PERCENTS=y
CONFIG_FEATURE_TOP_SMP_PROCESS=y
CONFIG_FEATURE_TOP_DECAY=y
CONFIG_FEATURE_TOP_LEFT_AXIS=y
CONFIG_FEATURE_TOP下面是小=y
CONFIG_FEATURE_UPTIME=y
CONFIG_W=y
CONFIG_WATCH=y

# System Utilities
CONFIG_DMESG=y
CONFIG_FEATURE_DMESG_PRETTY=y
CONFIG_HALT=y
CONFIG_FEATURE_HALT_LONG_OPTIONS=y
CONFIG_POWEROFF=y
CONFIG_FEATURE_POWEROFF_LONG_OPTIONS=y
CONFIG_REBOOT=y
CONFIG_FEATURE_REBOOT_LONG_OPTIONS=y
CONFIG_SETPRIV=y
CONFIG_FEATURE_SETPRIV_DUMP=y
CONFIG_FEATURE_SETPRIV_CAPABILITIES=y
CONFIG_FEATURE_SETPRIV_CAP_NAMES=y
CONFIG_SWATCH=y
CONFIG_TELNET=y
CONFIG_FEATURE_TELNET_TTYPE=y
CONFIG_FEATURE_TELNET_LOGIN=y
CONFIG_FEATURE_TELNET_WIDTH=y
CONFIG_TFTP=y
CONFIG_FEATURE_TFTP_GET=y
CONFIG_FEATURE_TFTP_PUT=y
CONFIG_FEATURE_TFTP_BLOCKSIZE=y
CONFIG_TELNETD=y
CONFIG_FEATURE_TELNETD_STANDALONE=y
CONFIG_FEATURE_TELNETD_UNDER_INETD=y
CONFIG_FEATURE_TELNETD_WAIT_PORT=y
CONFIG_MOUNTPOINT=y
CONFIG_UMOUNT=y
CONFIG_FEATURE_UMOUNT_ALL=y
CONFIG_FEATURE_MOUNT_FAKE=y
CONFIG_FEATURE_MOUNT_VERBOSE=y
CONFIG_FEATURE_MOUNT_HELPERS=y
CONFIG_FEATURE_MOUNT_LABEL=y
CONFIG_FEATURE_MOUNT_FSTAB=y
CONFIG_FEATURE_MOUNT_LOOP=y
CONFIG_FEATURE_MOUNT_LOOP_CREATE=y
CONFIG_FEATURE_MOUNT_VERBOSE=y

# Init Utilities
CONFIG_INIT=y
CONFIG_FEATURE_INIT_SCTTY=y
CONFIG_FEATURE_INIT_SYSLOG=y
CONFIG_FEATURE_INIT_QUIET=y
CONFIG_FEATURE_INIT_WATCHDOG=y
CONFIG_FEATURE_INIT_STARTSCRIPT=y
CONFIG_FEATURE_INIT_MODIFY_CMDLINE=y

# Login/Password Management
CONFIG_ADDGROUP=y
CONFIG_FEATURE_ADDGROUP_LONG_OPTIONS=y
CONFIG_ADDUSER=y
CONFIG_FEATURE_ADDUSER_LONG_OPTIONS=y
CONFIG_CRYPTPW=y
CONFIG_DELGROUP=y
CONFIG_FEATURE_DELGROUP_LONG_OPTIONS=y
CONFIG_DELUSER=y
CONFIG_FEATURE_DELUSER_LONG_OPTIONS=y
CONFIG_GETTY=y
CONFIG_GROUPADD=y
CONFIG_FEATURE_GROUPADD_LONG_OPTIONS=y
CONFIG_GROUPDEL=y
CONFIG_FEATURE_GROUPDEL_LONG_OPTIONS=y
CONFIG_PASSWD=y
CONFIG_FEATURE_PASSWD_MAke y
CONFIG_SULOGIN=y
CONFIG_SU=y
CONFIG_FEATURE_SU_CHECKS_SHELLS=y
CONFIG_VLOCK=y

# Editors
CONFIG_VI=y
CONFIG_FEATURE_VI_COLON=y
CONFIG_FEATURE_VI_YANKMARK=y
CONFIG_FEATURE_VI_SEARCH=y
CONFIG_FEATURE_VI_USE_SIGNALS=y
CONFIG_FEATURE_VI_DOT_CMD=y
CONFIG_FEATURE_VI_READONLY=y
CONFIG_FEATURE_VI_SETOPTS=y
CONFIG_FEATURE_VI_SET=y
CONFIG_FEATURE_VI_WINDOW=y
CONFIG_FEATURE_VI_ASK_TERMINAL=y
CONFIG_FEATURE_VI_UNDO=y
CONFIG_FEATURE_VI_UNDO_QUEUE=y
CONFIG_FEATURE_VI_UNDO_QUEUE_MAX=256
CONFIG_FEATURE_VI_VERBOSE_STATUS=y
CONFIG_FEATURE_VI_8BIT=y
CONFIG_AWK=y
CONFIG_FEATURE_AWK_LIBM=y
CONFIG_FEATURE_AWK_GNU_EXTENSIONS=y
CONFIG_SED=y
CONFIG_FEATURE_SED_EGYPTIAN_MUSCLE=y
CONFIG_FEATURE_SED_EXTENDED=y
CONFIG_FEATURE_SED_REGEXP=y
CONFIG_FEATURE_SED_GUI=y
CONFIG_FEATURE_NICE=y
CONFIG_FEATURE_SH_IS_HUSH=y
CONFIG_SHELL_IS_HUSH=y

# Linux Module Utilities
CONFIG_MODPROBE=y
CONFIG_FEATURE_MODPROBE_SMALL_CHECK_ALREADY_LOADED=y
CONFIG_RMMOD=y
CONFIG_LSMOD=y
CONFIG_FEATURE_LSMOD_PRETTY_2_5_OUTPUT=y

# Linux System Utilities
CONFIG_DUMPE2FS=y
CONFIG_FEATURE_DUMPFS=y
CONFIG_E2FSCK=y
CONFIG_MKE2FS=y
CONFIG_FEATURE_MKE2FS_DIR=y
CONFIG_MKFS_EXT2=y
CONFIG_MKFS_MINIX=y
CONFIG_FSCK_MINIX=y
CONFIG_MINIXFS=y

# Shell
CONFIG_SH_IS_HUSH=y
CONFIG_SHELL_IS_HUSH=y
CONFIG_HUSH_BASH_COMPAT=y
CONFIG_HUSH_BRACE_EXPANSION=y
CONFIG_HUSH_HELP=y
CONFIG_HUSH_INTERACTIVE=y
CONFIG_HUSH_TICK=y
CONFIG_HUSH_IF=y
CONFIG_HUSH_LOOPS=y
CONFIG_HUSH_CASE=y
CONFIG_HUSH_FUNC=y
CONFIG_HUSH_EXPORT=y
CONFIG_HUSH_EXPORT_N=y
CONFIG_HUSH_NULLCMD=y
CONFIG_HUSH_PS1=y
CONFIG_HUSH الكوي=y

# Debian Package Management
CONFIG_DPKG=y
CONFIG_DPKG_DEB=y
CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY=y

# tar
CONFIG_TAR=y
CONFIG_FEATURE_TAR_LONG_OPTIONS=y
CONFIG_FEATURE_TAR_CREATE=y
CONFIG_FEATURE_TAR_AUTODETECT=y
CONFIG_FEATURE_TAR_FROM=y
CONFIG_FEATURE_TAR_GNU=y
CONFIG_FEATURE_TAR_UNAME_ARCHIVE=y
CONFIG_FEATURE_TAR_PRESERVE_HARDLINKS=y

# zip
CONFIG_GUNZIP=y
CONFIG_GZIP=y
CONFIG_UNZIP=y
CONFIG_BUNZIP2=y
CONFIG_BZIP2=y
CONFIG_CPIO=y
CONFIG_FEATURE_CPIO_O=y
CONFIG_FEATURE_CPIO_P=y
CONFIG_XZ=y
CONFIG_UNXZ=y

# dpkg
CONFIG_DPKG=y
CONFIG_DPKG_DEB=y
CONFIG_FEATURE_DPKG_DEB_EXTRACT_ONLY=y

# ethtool
CONFIG_ETHTOOL=y

# lsusb
CONFIG_LSUSB=y

# lspci
CONFIG_LSPCI=y

# lsblk
CONFIG_LSBLK=y

# fdisk
CONFIG_FDISK=y
CONFIG_FEATURE_FDISK_WRITABLE=y
CONFIG_FEATURE_FDISK_ADVANCED=y
CONFIG_FEATURE_FDISK_VSIZE=y
CONFIG_FEATURE_FDISK_BLKSIZE=y
CONFIG_FEATURE_FDISKétranger=y

# sfdisk
CONFIG_SFDISK=y
CONFIG_FEATURE_SFDISK_ADVANCED=y

# losetup
CONFIG_LOSETUP=y
CONFIG_FEATURE_LOSETUP_LONG_OPTIONS=y

# mkswap
CONFIG_MKSWAP=y
CONFIG_FEATURE_MKSWAP_UUID=y

# swapon/swapoff
CONFIG_SWAPON=y
CONFIG_FEATURE_SWAPON_LONG_OPTIONS=y
CONFIG_FEATURE_SWAPON_BLKDEV=y
CONFIG_SWAPPOFF=y
CONFIG_FEATURE_SWAPPOFF_LONG_OPTIONS=y
CONFIG_FEATURE_SWAPON=y

# fdformat
CONFIG_FDFORMAT=y

# hwclock
CONFIG_HWCLOCK=y
CONFIG_FEATURE_HWCLOCK_LONG_OPTIONS=y
CONFIG_FEATURE_HWCLOCK_ADJTIME_FHS=y

# mdev
CONFIG_MDEV=y
CONFIG_FEATURE_MDEV_CONF=y
CONFIG_FEATURE_MDEV_RENAME=y
CONFIG_FEATURE_MDEV_RENAME_REGEXP=y
CONFIG_FEATURE_MDEV_EXEC=y
CONFIG_FEATURE_MDEV_DAEMON=y

# bc
CONFIG_BC=y
CONFIG_DC=y
CONFIG_FEATURE_DC_LIBM=y

# indent
CONFIG_INDENT=y

# patch
CONFIG_PATCH=y

# tr
CONFIG_TR=y
CONFIG_FEATURE_TR_CLASSES=y
CONFIG_FEATURE_TR_EQUIV=y

# watch
CONFIG_WATCH=y

# diff
CONFIG_DIFF=y
CONFIG_FEATURE_DIFF_LONG_OPTIONS=y
CONFIG_FEATURE_DIFF_DIR=y

# cmake/mtab
CONFIG_FEATURE_MOUNTMTAB=y

# chrt
CONFIG_CHRT=y

# timeout
CONFIG_TIMEOUT=y

# mktemp
CONFIG_MKTEMP=y

# paste
CONFIG_PASTE=y

# cut
CONFIG_CUT=y
CONFIG_FEATURE_CUT Morr=y

# fold
CONFIG_FOLD=y

# expand
CONFIG_EXPAND=y
CONFIG_FEATURE_EXPAND_LONG_OPTIONS=y

# column
CONFIG_COLUMN=y

# ts
CONFIG_TS=y
CONFIG_FEATURE_TS_SORT=y

# nproc
CONFIG_NPROC=y

# timeout
CONFIG_TIMEOUT=y

# unexpand
CONFIG_UNEXPAND=y
CONFIG_FEATURE_UNEXPAND_LONG_OPTIONS=y

# printf
CONFIG_PRINTF=y

# factor
CONFIG_FACTOR=y

# seq
CONFIG_SEQ=y

# head
CONFIG_HEAD=y
CONFIG_FEATURE_FANCY_HEAD=y

# tac
CONFIG_TAC=y

# rev
CONFIG_REV=y

# shred
CONFIG_SHRED=y

# test / [[
CONFIG_TEST=y
CONFIG_FEATURE_TEST_64=y
CONFIG_TEST_VERBOSE=y

# tput
CONFIG_TPUT=y

# clear / reset
CONFIG_CLEAR=y
CONFIG_RESET=y
